{% extends 'dummy.html' %}

{% block title %}
    <title>ChangePassword</title>
{% endblock %}



{% block body_block %}
   

    <div class="container">
        <div class='jumbotron jumbotron-fluid'>
                <form method="POST">
                    {% csrf_token %}
                    New Password:
                    <input type="password" name="password" id="password"><br>
                    <input type="submit" value="Change" class="btn btn-dark">
                </form>
        </div>
    </div>
    
{% endblock %}
    
    