{% extends 'dummy.html' %}

{% block title %}
    <title>Registration Page</title>
{% endblock %}



{% block body_block %}
<center>
    <div class="container">
        <div class='jumbotron jumbotron-fluid'>
                <h1>Registration Form</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                        {{UF.as_p}}
                        {{PF.as_p}}

                    <input type="submit" value="Register" class='btn btn-primary'>
                </form>
        </div>
    </div>
</center>
{% endblock %}
    
    